<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CreateVerticalBridges.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <CreateVerticalBridges.Properties.Settings>
            <setting name="CreateType" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="CreateMethod" serializeAs="String">
                <value>1</value>
            </setting>
        </CreateVerticalBridges.Properties.Settings>
    </userSettings>
</configuration>