<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WallColumnLevelBeamFloor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <WallColumnLevelBeamFloor.Properties.Settings>
            <setting name="StructuralFloor" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SelWall" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SelColumn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UpLevel" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DownLevel" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LevelBeam" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LevelFloor" serializeAs="String">
                <value>True</value>
            </setting>
        </WallColumnLevelBeamFloor.Properties.Settings>
    </userSettings>
</configuration>